/* 
  Globally avialable SCSS and color palette.

	Nice color palette generator:
  https://mycolor.space/?hex=%232E8DFF&sub=1
 */

$app-max-width: 1000px;									 // maximum width of the whole app , eg. when shown in a browser
$header-height: 3rem;											// height of liquido header, also used for scrollToTop

$primary: #2e8dff;											// primary color, eg. for titles and primary button backgrounds. bootstrap primary color would be #0d6efd
$secondary: #6c757d;										// secondary color for muted texts
$app-background: #e3e9f5;  						// main background of app. Needs to have high contrast to text color.
$liquido-text-color: #333333;					// Standard text forground color. Needs to have high contrast to background color. Also used for chat bubbles.

$chat-left-bg: #aacfff;
$chat-right-bg: white;									// background color for chat bubbles from the user
$liquido-input-bg: #afc2fa;						// background color for input bubbles (where user has to enter something)


$icon-bg: #a9c6ff;											// background for polls and proposal icons
$header-bg: #429cf3;  //   #9fb6d4;   	rgb(220, 236, 255);				// background of fixed header
$navbar-bg: #429cf3;  //   #9fb6d4;    rgba(220, 236, 255, 0.9);	// background for bottom navbar

$liquido-info-color: black;			// text color for liquido-info alert boxes
$liquido-info-background: white;		 	// background for liquido-info alert boxes
$admin-info-background: #768eab;   		//rgb(10, 84, 163);  #2E294E;      // info boxes for admin



// There are also some more variables in bootstrap that you can use.