/* 
  Globally avialable SCSS and color palette.

  !!! When you change this file you must restart your dev server. !!!
 */

$app-background: rgb(242, 242, 242); // #a5b4c6;							// global background of app
$app-max-width: 1000px;								 // maximum width of the whole app , eg. when shown in a browser

$primary: #0a54a3;    	 							// primary color, titles and button backgrounds
$secondary: #6c757d;									// secondary color for titles and button backgrounds
$icon-bg: #a9c6ff;										// icons background
$header-bg: #a9c6ff;  //   #9fb6d4;   rgb(220, 236, 255);				// background of fixed header
$navbar-bg: #a9c6ff;  //   #9fb6d4;    rgba(220, 236, 255, 0.9);	// background for bottom navbar
$input-bg: #c3cce6;   //rgb(180, 171, 255); // background for chat bubbles where user has to enter something

$liquido-info-background: #162042;		 // background for liquido info alert boxes
$admin-info-background: #2E294E;      // info boxes for admin

$header-height: 3rem;										// height of liquido header

// There are also some more variables in bootstrap that you can use.