/**
 * LIQUIDO global styles and CSS variables.
 * These styles and variables are available in every component.
 */

/* 
	Nice color palette generator:
  https://mycolor.space/?hex=%232E8DFF&sub=1
 */

 /* Global variables available in all my VUE components */
:root {
	
  --app-max-width: 1000px;
	--app-background: #f3f4f6;  /* also nice, abit darker: #e3e7f0; */

	--primary: #2e8dff;				/* Primary, e.g. buttons */
  --secondary: #bbb;					/* Secondary text */

  --header-height: 4rem;
	--header-color: #2e8dff;     /* Header TEXT color */
  --header-bg: white;        /* Nice color by stitch.withgoogle.com #429cf3; */
  
	--navbar-bottom-height: 80px;
	--liquido-border-radius: 20px;   /* Used for navbar-arrows and for poll cards */

  /* Welcome Chat */
  --chat-left-bg: #dbeafe; /* light blue by stich google,   that was a darker one #aacfff; */
  --chat-right-bg: #fff;
  --liquido-input-bg: #afc2fa;

	/* Icons per poll status */
	--elaboration-bg: #e9d47f;
	--voting-bg: #2e8dff;  /* primary */
	--finished-bg: #198754;

	/* Icon for a proposal */
  --proposal-icon-bg: #429cf3;

	/* Info text in .alert on --app-background */
  --liquido-info-color: #4e5b70;
	--liquido-info-border-color: #dbeafe;
  --liquido-info-background: #eff6ff;
  
	--admin-info-text-color: white;
  --admin-info-background: #2e8dff;
}

/** Ensure html and body fill the viewport without overflow  */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* The outermost VUE app element */
#app {
  background-color: var(--app-background);
	margin: 0 auto;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: var(--app-max-width);
	/* only scroll up and down, and always show scrollbar at the right. */
  overflow-x: hidden;   
  overflow-y: auto;  
  scrollbar-gutter: stable;
}

/** #rootApp fills whole screen. Even when appContent would be smaller */
#rootApp {
	min-height: 100%;
	height: 100%;
}

/** This is the scrolling part of the page */
#app #appContent {
  background-color: var(--app-background);
  min-height: 100%;  														/* Always fill viewport height, even with minimal content */
	padding-top: var(--header-height);  					/* padding so that page content can bee seen under liquido-header */
  padding-bottom: var(--navbar-bottom-height);  /* Account for fixed navbar at the bottom */
  padding-left: 10px;
  padding-right: 10px;
}

/** LIQUIDO - beautifull brand mark */
.liquido:after {
	content: "LIQUIDO";
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
}

/* Slide animation between pages */
.router-view {
	transition: all 0.5s ease-in-out;
}

/* Fade transtition (used in Polly and List of polls) */
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
.fade-leave-active {
	position: absolute;
	top: 0;
	width: 100%;
}

/* Slide left-right animations on navigation */

/* This is added to the page that enters from the left */
.slide-left-enter-from,
/* or leaves to the right */
.slide-right-leave-to {
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0);
}
/* This class is added to the page that leaves */
.slide-left-leave-active,
.slide-right-leave-active {
	position: absolute;  /* MUST position this page absolute, so that incomign page is shown correctly */
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;  /* Keep leaving page at full viewport height during transition */
}
/* This class is added to the page that leaves to the left */
.slide-left-leave-to,
/* or enters from the right */
.slide-right-enter-from {
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

#app .page-title {
  /*font-family: 'Libre Baskerville', serif; */
	color: var(--primary);
	transition: opacity 0.2s linear;
  margin: 2rem 0;
  text-align: center;
}

#app a {
  color: var(--primary);
}

#app h1, #app h2, #app h3, #app h4, #app h5, #app h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app h1 { font-size: 1.50rem }
#app h2 { font-size: 1.30rem; }
#app h3 { font-size: 1.20rem; }
#app h4 { font-size: 1.10rem; }
#app h5 { font-size: 1rem; }
#app h6 { font-size: 1rem; }

/*
.alert {
	// Had Smaller than bootstrap's default. Don't be afraid of space. Keep default
	//padding: 0.5rem;
}
*/	

.liquido-info {
	position: relative;
	padding: 0.5rem; /* Bootstrap padding has 1.rem */
  font-size: 0.8rem;
  color: var(--liquido-info-color);
  background-color: var(--liquido-info-background);
  border: 1px solid var(--liquido-info-border-color);
	border-radius: var(--bs-border-radius);
	z-index: 1;
	overflow: hidden;
}

.liquido-info::before {
	content: "\f05a";
	font: var(--fa-font-solid);
	color: var(--primary);
	position: absolute;
	right: -5%;
	top: -5%;
	font-size: 4rem;        /* large background presence */
  opacity: 0.2;           /* subtle */
  pointer-events: none;   /* ignore mouse interaction */
  z-index: 0;
}

.liquido-info p:last-child {
  margin-bottom: 0;
}

.alert-admin {
  color: var(--admin-info-text-color);
  background-color: var(--admin-info-background);
  border: none;
	z-index: 1; /* ensure text is above the icon */
}

.alert-admin p:last-child {
  margin-bottom: 0;
}

.alert-admin::after {
  content: "\f3ed";
  font: var(--fa-font-solid);
  position: absolute;
  right: 5%;
  top: 30%;
  transform: rotate(10deg) translateY(-50%);
  font-size: 12rem;        /* large background presence */
  opacity: 0.2;           /* subtle */
  pointer-events: none;   /* ignore mouse interaction */
  z-index: 0;
}

.cancel-link {
  color: var(--secondary);
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
}
